.red{
    color: red;
  }
  .green {
    color :green;
  }
  .black {
      color: black;
  }
  .addressDeliveryColor{
    color:#22144c
  }
  .initial{
      color: #ededed;
  }
  .table-item  {
    text-decoration: line-through;
  }
  .table-background-color-notification-isRead {
    cursor: pointer; 
    background:#ddd
  }
  .table-background-color-notification-isUnRead {
    cursor: pointer; 
    color: black;
  }
  .tableTextSize{
    font-weight: bold;
  }